<template>
    <panel-item :field="field">
        <template slot="value">
            <span v-if="field.value.title != null">{{ field.value.title }}</span>
            <span v-if="field.value.name != null">{{ field.value.title }}</span>
        </template>
    </panel-item>
</template>

<script>
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
}
</script>
